/**
 * WhoaThemes Extend WPBakery Visual Composer Shortcodes
 *
 */
  
/* VC Plugin Old CSS Rules - these cause problems because 
   they were deprecated in newer versions of the plugin 
   ------------------------------------------------- */ 
   
/* ----- Single image styles fix  ----- */  
div .vc_box_rounded {
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none; }
div .vc_box_outline,
div .vc_box_outline_circle {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px;
  border: 1px solid #ebebeb; }
div .vc_box_border,
div .vc_box_border_circle {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px;
  border: none; }
div .vc_box_shadow,
div .vc_box_shadow_border,
div .vc_box_shadow_border_circle,
div .vc_box_shadow_circle {
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1); }
div .vc_box_shadow_border,
div .vc_box_shadow_border_circle {
  padding: 6px; }
div .vc_box_shadow_3d {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 15px; }
div .vc_box_circle,
div .vc_box_outline_circle,
div .vc_box_border_circle,
div .vc_box_shadow_circle,
div .vc_box_shadow_border_circle {
  border-radius: 5000px;
  border-radius: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden; }
div .vc_box_shadow_circle,
div .vc_box_shadow_border_circle {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1); }
.vc_box_shadow_3d_wrap {
  position: relative;
  z-index: 0;
  display: inline-block;
  max-width: 100%; }
.vc_box_shadow_3d_wrap:after,
.vc_box_shadow_3d_wrap:before {
  content: "";
  position: absolute;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  left: 10px;
  bottom: 8%;
  width: 40%;
  height: 20%;
  max-height: 100px;
  max-width: 300px;
  z-index: -1;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg); }
.vc_box_shadow_3d_wrap:after {
  left: auto;
  right: 10px;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg); }

/* ----- Single image display fix  ----- */  
.wpb_single_image .vc_single_image-wrapper {
  display: block; }
  
/* General 
   ------------------------------------------------- */ 
   
/* text alignments */
.wt_align_left   { text-align: left; }
.wt_align_center { text-align: center; } 
.wt_align_right  { text-align: right; }

/* filters */
.wt_grayscale { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); -webkit-transition: all .25s ease; -webkit-backface-visibility: hidden; }
.wt_grayscale img { opacity: 1 !important }
.wt_grayscale:hover { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }

.wt_overflow_hidden {
	overflow: hidden; }

body .wpb_row,
.wpb_content_element,
body ul.wpb_thumbnails-fluid > li,
body .last_toggle_el_margin,
.wpb_button { margin-bottom: 0 }

/* Rows & Columns
   ------------------------------------------------- */	
   
.wt-row-container {
	position: relative; }
	   
/* ----- Background fixed  ----- */
.wt-background-fixed {
	background-attachment: fixed; }
/* ----- Background parallax  ----- */
.wt-background-parallax {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-position: center top;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	z-index: 1; }

@media only screen and (max-width: 1024px) {
	.wt-background-parallax {
        background-attachment: scroll !important;
        background-position: top center !important;
    }
}
/* ----- Background video  ----- */

.wt-youtube-bg-wrap {
	position: absolute;
	min-width: 100%; 
	height: 100%;
	overflow: hidden;
	z-index: 0; }
.wt-youtube-bg-wrap .wt-row-container  {
	position: relative;
	z-index: 1; }
.wt-video-volume {
	bottom: 30px;
	right: 30px;
	margin: 0 0 0 -15px;
	position: absolute;
	z-index: 100;
	width: 30px;
	height: 30px;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
	color: #FFFFFF;
	cursor: pointer; }
.wt_row_overlay {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%; }  
.wt_row_pattern_dotted {
	background-image: url('lib/img/overlay_dotted.png');
	background-repeat: repeat; }
.wt_row_pattern_dashed {
	background-image: url('lib/img/overlay_dashed.png');
	background-repeat: repeat; }
.wt_row_default_bg {
	/*background-color: #fcfcfc;*/
	background-color: #f0f0f0; }
.wt_row_default_border {
	/*border-color: #e1e1e1;*/
	border-color: #dddddd;
	border-top-style: solid;
	border-top-width: 1px; }
.wt_row_shadow { 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	border-color: #dddddd; }
.wt_skin_light,
.wt_skin_light p,
.wt_skin_light .intro_text h2,
.wt_skin_light .intro_text h3 {
	color: #fff;
	color: rgba(255,255,255,0.95); }

/* ----- Column styles  ----- */
.wt_column_bordered { 
	padding: 20px; 
	/*border-color: #e1e1e1;*/
	border-color: #dddddd;
	border-radius: 3px; }
.wt_column_boxed { 
	background: #fcfcfc; 
	padding: 20px; 
	/*border-color: #e1e1e1;*/
	border-color: #dddddd;
	border-style: solid;
	border-width: 1px; 
	border-radius: 3px; }
.wt_column_shadow { 
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); 
	border: 1px solid; 
	border-color: #dddddd; }
	
/* ----- Remove row full column paddings  ----- */
.wt_no_vccol_padd .vc_column_container.vc_col-sm-12 {
	padding-left: 0;
	padding-right: 0; }
 	
/* Animations 
   ------------------------------------------------- */	 
   
html:not(.is_smallScreen) .wt_animations .wt_animate {
	visibility: hidden; /* hide only when animations are enabled and not small screen */
	display: block;
	position: relative;
	z-index: 2; }
.wt_animate:before, .wt_animate:after  {
	content: " "; /* 1 */
	display: table; /* 2 */ }, 
.wt_animate:after { clear: both; }

/* Contact Form 
   ------------------------------------------------- */	 
   
.assistive-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px); }
.wt_contact_form_sc label.error {
	margin-bottom: 5px !important; }

/* Team
   ------------------------------------------------- */
   
.wt_team_wrapper {
	margin-top: 40px;
	padding-right: 115px;
	padding-left: 115px; }
.wt_team_sc {
	margin: 30px 0;
	overflow: hidden; }
.wt_view {
	position: relative;
	overflow: hidden; }
.wt_view img {
	/*width: 100%;*/
	-webkit-transition: transform 0.7s ease 0.4s;
	-moz-transition: transform 0.7s ease 0.4s;
	-ms-transition: transform 0.7s ease 0.4s;
	transition: transform 0.7s ease 0.4s; }
.wt_team_info {
	background: #428bca;
	color: #666;
	padding: 12px 0 0px 0;
	height: 80px;
	border-top: 5px solid #fafafa; 
	position: relative;
	text-align: center; }
.wt_team_job {
	display: block;
	font-size: 18px;
	margin-top:20px;
    margin-top: 0px;
    color: #fff; }
.wt_team_title {
	display: block;
	font-size: 29px;
    margin: 0px;
    color: #fff; }
.wt_team_content {
	display: block;
	padding: 0 25px;
	position: absolute;
	width: 100%;
	height: 0;
	opacity: 0;
	top: 0;
	left: 0;
	background: rgba(255,214,0,0.92);
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out; }
.wt_team_sc:hover .wt_team_content {
	height: 100%;
	opacity: 1; }
.wt_team_description {
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);}
.wt_team_description p {
	display: block;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    line-height: 24px; }

/* Team Socials
   ------------------------------------------------- */	
   
.wt_team_social {
	margin: 0;
	padding: 0;
	text-align: center; }
.wt_team_social li {
	display: inline-block;
	margin: 3px 1px; }
.wt_team_social li a {
	color: #111;
	width: 40px;
	height: 40px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background: #fff; }
.wt_team_social li a:hover {
	background: #111;
	color: #fff; }
	
/* Services Slider
   ------------------------------------------------- */	 
   
.wt_services_buttons {
    margin: 0 auto; }
.wt_services_buttons a {
    display: inline-block;
    vertical-align: middle; 
    text-align: center;
    color: #428bca;
    width: 140px;
    height: 140px;
    font-size: 60px;
    line-height: 136px;
    border-radius: 100%;
    margin: 4px 2px;
    background:  #fff;
	border-left: 1px solid #428bca;
	border-right: 1px solid #428bca; }
.wt_services_buttons a i {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 140px;
    height: 140px;
    line-height: 140px;
    margin-bottom: 15px; }
.wt_services_buttons a:hover {
    font-size: 64px;
    -webkit-transition:0.2s all linear;
        -moz-transition:0.2s all linear;
            transition:0.2s all linear; }
.wt_services_buttons a.active {
    font-size: 69px;
    color: #fff !important;
    background: #428bca; }
.wt_services_slider {
	text-align: center;
	padding: 0 100px; }
.wt_services_slider p {
    font-size: 22px;
    line-height: 140%;
    color: #555;
    text-align: center; }
.wt_services_slider h3 {
	margin-top: 50px;
	margin-bottom: 40px;
    color: #428bca;
	display: inline-block;
	font-size: 22px;
	padding: 7px 12px;
	border: 1px solid #428bca;    
	text-transform: uppercase; }
#wt_container .wt_services_slider h3 a {
    color: #428bca;
	display: block; }
	
/* Testimonials Slider
   ------------------------------------------------- */	

.wt_testimonials_slider_sc {
	width: 85%;
	font-weight: 300;
	margin: 0px auto 0px;
	color: #444; }
.wt_section_white .wt_testimonials_slider_sc {
	color: #fff; }
.wt_testimonials_slider_sc .wt_testimonials_wrapp {
	overflow: hidden; }
.wt_testimonials_slider_sc .wt_bxslider li p {
	margin: 10px 0;
	font-size: 24px;
	line-height: 1.2; }
.wt_testimonials_slider_sc .wt_bxslider li img {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 5px 5px;
	border: 1px solid #ddd;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin: -20px auto 0;
	margin-right: 30px; }
#wt_container .wt_testimonials_slider_sc .wt_bxslider li h3 a {
    color: #ffd600;
	display: block; }
.wt_testimonials_slider_sc .wt_testimonials_info {
	float: left;
	width: 38%;
	margin-top: 20px;
	padding: 10px 40px 0px 0;}
.wt_testimonials_slider_sc .wt_bxslider li .wt_testimonials_info p {
	display: inline-block;
	margin-top: 20px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left; }
.wt_testimonials_slider_sc .wt_testimonials_info p span {
	display: block;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	text-transform: none; }
.wt_testimonials_slider_sc .wt_testimonials_text {
	display: inline-block;
	float: left;
	width: 62%;
	border-left: 1px solid #ccc; 
	padding: 25px 0 25px 40px;
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	text-align: left; }
.wt_section_area .wt_testimonials_slider_sc .wt_testimonials_text {
	border-left: 1px solid #fff; }
	
/* Social Networks
   ------------------------------------------------- */	
   
.wt_social_networks_sc ul {
	margin: 0 0 10px;
	padding: 0;}
.wt_social_networks_sc ul li {
	display: inline-block;
	margin: 5px;
	text-align: center;  }
.wt_social_networks_sc ul li a {
    display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out; }	
ul.wt_icon_26 li a {
	width: 26px;
	height: 26px;
    line-height: 26px;
    font-size: 14px; }
ul.wt_icon_32 li a {
	width: 32px;
	height: 32px;
    line-height: 32px;
    font-size: 16px; }
ul.wt_icon_34 li a {
	width: 34px;
	height: 34px;
    line-height: 34px;
    font-size: 18px; }
ul.wt_icon_38 li a {
	width: 38px;
	height: 38px;
    line-height: 38px;
    font-size: 20px; }
ul.wt_icon_40 li a {
	width: 40px;
	height: 40px;
    line-height: 40px; 
    font-size: 22px; }
ul.wt_icon_42 li a {
	width: 42px;
	height: 42px;
    line-height: 42px; 
    font-size: 22px; }
ul.wt_icon_44 li a {
	width: 44px;
	height: 44px;
    line-height: 44px; 
    font-size: 24px; }
ul.wt_icon_50 li a {
	width: 50px;
	height: 50px;
    line-height: 50px;
    font-size: 28px; }	
ul.wt_icon_60 li a {
	width: 60px;
	height: 60px;
    line-height: 60px;
    font-size: 36px; }

/* ----- Change line height for type 4 icons  ----- */	
ul.wt_icon_26.wt_icon_type_4 li a {
    line-height: 20px; }
ul.wt_icon_32.wt_icon_type_4 li a {
    line-height: 26px; }
ul.wt_icon_34.wt_icon_type_4 li a {
    line-height: 28px; }
ul.wt_icon_38.wt_icon_type_4 li a {
    line-height: 32px; }
ul.wt_icon_40.wt_icon_type_4 li a {
    line-height: 34px; }
ul.wt_icon_42.wt_icon_type_4 li a {
    line-height: 36px; }
ul.wt_icon_44.wt_icon_type_4 li a {
    line-height: 38px; }
ul.wt_icon_50.wt_icon_type_4 li a {
    line-height: 44px; }	
	
ul.wt_rounded li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; }
ul.wt_circle li a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; }
.wt_social_networks_sc ul li a {
	color: #111; }
.wt_social_networks_sc ul.wt_icon_type_2:not(.wt_simple) li a,
.wt_social_networks_sc ul.wt_icon_type_4:not(.wt_simple) li a {
	color: #fff; }
#wt_sidebar .wt_social_networks_sc ul.wt_icon_type_2:not(.wt_simple) li a {
	color: #111; }
.wt_social_networks_sc ul.wt_icon_type_3:not(.wt_simple) li a {
	border-width: 1px;
	border-style: solid;
	border-color: #111; }
.wt_social_networks_sc ul.wt_icon_type_1:not(.wt_simple) li a:hover,
.wt_social_networks_sc ul.wt_icon_type_2:not(.wt_simple) li a:hover {
	background: #111 !important;
	color: #fff !important; }
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a {
	background: none !important;
	border: none !important; }
	
/* ----- Styling type #1 icons  ----- */
.wt_social_networks_sc ul.wt_icon_type_1:not(.wt_simple) li a {
	background: #f5f5f5; }

.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.email:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.email:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.email:hover {
	color: #262626 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.facebook:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.facebook:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.facebook:hover {
	color: #3C5A9A !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.twitter:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.twitter:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.twitter:hover {
	color: #00acee !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.pinterest:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.pinterest:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.pinterest:hover {
	color: #cb2028 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.linkedin:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.linkedin:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.linkedin:hover {
	color: #006599 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.google:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.google:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.google:hover {
	color: #da2713 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.dribbble:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.dribbble:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.dribbble:hover {
	color: #ea4b8b !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.youtube:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.youtube:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.youtube:hover {
	color: #d20200 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.vimeo:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.vimeo:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.vimeo:hover {
	color: #17aacc !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.rss:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.rss:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.rss:hover {
	color: #ff6600 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.github:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.github:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.github:hover {
	color: #569e3d !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.delicious:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.delicious:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.delicious:hover {
	color: #3274d2 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.flickr:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.flickr:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.flickr:hover {
	color: #0062dd !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.forrst:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.forrst:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.forrst:hover {
	color: #166021 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.lastfm:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.lastfm:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.lastfm:hover {
	color: #c30d19 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.tumblr:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.tumblr:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.tumblr:hover {
	color: #2c4661 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.deviantart:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.deviantart:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.deviantart:hover {
	color: #c8da2e !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.skype:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.skype:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.skype:hover {
	color: #00aff0 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.instagram:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.instagram:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.instagram:hover {
	color: #517fa4 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.stumbleupon:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.stumbleupon:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.stumbleupon:hover {
	color: #ea4b24 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.behance:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.behance:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.behance:hover {
	color: #1378fe !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.soundcloud:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.soundcloud:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.soundcloud:hover {
	color: #fe531b !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.yelp:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.yelp:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.yelp:hover {
	color: #c51102 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.yahoo:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.yahoo:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.yahoo:hover {
	color: #65106b !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.wordpress:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.wordpress:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.wordpress:hover {
	color: #207499 !important; }	
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.technorati:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.technorati:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.technorati:hover {
	color: #00c400 !important; }	
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.reddit:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.reddit:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.reddit:hover {
	color: #6bbffb !important; }	
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.picasa:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.picasa:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.picasa:hover {
	color: #b163c9 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.paypal:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.paypal:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.paypal:hover {
	color: #2c5f8c !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.netvibes:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.netvibes:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.netvibes:hover {
	color: #15ae15 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.metacafe:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.metacafe:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.metacafe:hover {
	color: #f88326 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.html5:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.html5:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.html5:hover {
	color: #e54d26 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.ember:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.ember:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.ember:hover {
	color: #e11a3b !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.dropbox:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.dropbox:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.dropbox:hover {
	color: #007ee5 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.digg:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.digg:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.digg:hover {
	color: #005f95 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.blogger:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.blogger:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.blogger:hover {
	color: #fe6601 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.apple:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.apple:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.apple:hover {
	color: #231f20 !important; }
.wt_social_networks_sc ul.wt_icon_type_1.wt_simple li a.aim:hover,
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a.aim:hover,
.wt_social_networks_sc ul.wt_icon_type_4.wt_simple li a.aim:hover {
	color: #452806 !important; }
	
/* ----- Styling type #2 icons  ----- */
.wt_social_networks_sc ul.wt_icon_type_2 li a.email:hover {
	background: #262626 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.facebook:hover {
	background: #3C5A9A !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.twitter:hover {
	background: #00acee !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.pinterest:hover {
	background: #cb2028 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.linkedin:hover {
	background: #006599 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.google:hover {
	background: #da2713 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.dribbble:hover {
	background: #ea4b8b !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.youtube:hover {
	background: #d20200 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.vimeo:hover {
	background: #17aacc !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.rss:hover {
	background: #ff6600 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.github:hover {
	background: #569e3d !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.delicious:hover {
	background: #3274d2 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.flickr:hover {
	background: #0062dd !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.forrst:hover {
	background: #166021 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.lastfm:hover {
	background: #c30d19 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.tumblr:hover {
	background: #2c4661 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.deviantart:hover {
	background: #c8da2e !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.skype:hover {
	background: #00aff0 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.instagram:hover {
	background: #517fa4 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.stumbleupon:hover {
	background: #ea4b24 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.behance:hover {
	background: #1378fe !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.soundcloud:hover {
	background: #fe531b !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.yelp:hover {
	background: #c51102 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.yahoo:hover {
	background: #65106b !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.wordpress:hover {
	background: #207499 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.technorati:hover {
	background: #00c400 !important; }	
.wt_social_networks_sc ul.wt_icon_type_2 li a.reddit:hover {
	background: #6bbffb !important; }	
.wt_social_networks_sc ul.wt_icon_type_2 li a.picasa:hover {
	background: #b163c9 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.paypal:hover {
	background: #2c5f8c !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.netvibes:hover {
	background: #15ae15 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.metacafe:hover {
	background: #f88326 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.html5:hover {
	background: #e54d26 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.ember:hover {
	background: #e11a3b !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.dropbox:hover {
	background: #007ee5 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.digg:hover {
	background: #005f95 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.blogger:hover {
	background: #fe6601 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.apple:hover {
	background: #231f20 !important; }
.wt_social_networks_sc ul.wt_icon_type_2 li a.aim:hover {
	background: #452806 !important; }	
.wt_social_networks_sc ul.wt_icon_type_2.wt_simple li a:hover {
	background: none !important; }	
	
/* ----- Styling type #3 icons  ----- */
.wt_social_networks_sc ul.wt_icon_type_3 li a.email:hover {
	color: #262626 !important;
	border-color: #262626; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.facebook:hover {
	color: #3C5A9A !important;
	border-color: #3C5A9A; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.twitter:hover {
	color: #00acee !important;
	border-color: #00acee; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.pinterest:hover {
	color: #cb2028 !important;
	border-color: #cb2028; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.linkedin:hover {
	color: #006599 !important;
	border-color: #006599; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.google:hover {
	color: #da2713 !important;
	border-color: #da2713; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.dribbble:hover {
	color: #ea4b8b !important;
	border-color: #ea4b8b; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.youtube:hover {
	color: #d20200 !important;
	border-color: #d20200; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.vimeo:hover {
	color: #17aacc !important;
	border-color: #17aacc; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.rss:hover {
	color: #ff6600 !important;
	border-color: #ff6600; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.github:hover {
	color: #569e3d !important;
	border-color: #569e3d; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.delicious:hover {
	color: #3274d2 !important;
	border-color: #3274d2; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.flickr:hover {
	color: #0062dd !important;
	border-color: #0062dd; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.forrst:hover {
	color: #166021 !important;
	border-color: #166021; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.lastfm:hover {
	color: #c30d19 !important;
	border-color: #c30d19; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.tumblr:hover {
	color: #2c4661 !important;
	border-color: #2c4661; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.deviantart:hover {
	color: #c8da2e !important;
	border-color: #c8da2e; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.skype:hover {
	color: #00aff0 !important;
	border-color: #00aff0; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.instagram:hover {
	color: #517fa4 !important;
	border-color: #517fa4; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.stumbleupon:hover {
	color: #ea4b24 !important;
	border-color: #ea4b24; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.behance:hover {
	color: #1378fe !important;
	border-color: #1378fe; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.soundcloud:hover {
	color: #fe531b !important;
	border-color: #fe531b; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.yelp:hover {
	color: #c51102 !important;
	border-color: #c51102; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.yahoo:hover {
	color: #65106b !important;
	border-color: #65106b; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.wordpress:hover {
	color: #207499 !important;
	border-color: #207499; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.technorati:hover {
	color: #00c400 !important;
	border-color: #00c400; }	
.wt_social_networks_sc ul.wt_icon_type_3 li a.reddit:hover {
	color: #6bbffb !important;
	border-color: #6bbffb; }	
.wt_social_networks_sc ul.wt_icon_type_3 li a.picasa:hover {
	color: #b163c9 !important;
	border-color: #b163c9; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.paypal:hover {
	color: #2c5f8c !important;
	border-color: #2c5f8c; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.netvibes:hover {
	color: #15ae15 !important;
	border-color: #15ae15; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.metacafe:hover {
	color: #f88326 !important;
	border-color: #f88326; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.html5:hover {
	color: #e54d26 !important;
	border-color: #e54d26; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.ember:hover {
	color: #e11a3b !important;
	border-color: #e11a3b; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.dropbox:hover {
	color: #007ee5 !important;
	border-color: #007ee5; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.digg:hover {
	color: #005f95 !important;
	border-color: #005f95; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.blogger:hover {
	color: #fe6601 !important;
	border-color: #fe6601; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.apple:hover {
	color: #231f20 !important;
	border-color: #231f20; }
.wt_social_networks_sc ul.wt_icon_type_3 li a.aim:hover {
	color: #452806 !important;
	border-color: #452806; }
	
/* ----- Styling type #4 icons  ----- */
.wt_social_networks_sc ul.wt_icon_type_4 li a {
	border: 3px solid; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.email {
	background: #262626;
	border-color: #262626; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.facebook {
	background: #3C5A9A;
	border-color: #3C5A9A; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.twitter {
	background: #00acee;
	border-color: #00acee; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.pinterest {
	background: #cb2028;
	border-color: #cb2028; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.linkedin {
	background: #006599;
	border-color: #006599; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.google {
	background: #da2713;
	border-color: #da2713; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.dribbble {
	background: #ea4b8b;
	border-color: #ea4b8b; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.youtube {
	background: #d20200;
	border-color: #d20200; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.vimeo {
	background: #17aacc;
	border-color: #17aacc; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.rss {
	background: #ff6600;
	border-color: #ff6600; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.github {
	background: #569e3d;
	border-color: #569e3d; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.delicious {
	background: #3274d2;
	border-color: #3274d2; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.flickr {
	background: #0062dd;
	border-color: #0062dd; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.forrst {
	background: #166021;
	border-color: #166021; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.lastfm {
	background: #c30d19;
	border-color: #c30d19; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.tumblr {
	background: #2c4661;
	border-color: #2c4661; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.deviantart {
	background: #c8da2e;
	border-color: #c8da2e; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.skype {
	background: #00aff0;
	border-color: #00aff0; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.instagram {
	background: #517fa4;
	border-color: #517fa4; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.stumbleupon {
	background: #ea4b24;
	border-color: #ea4b24; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.behance {
	background: #1378fe;
	border-color: #1378fe; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.soundcloud {
	background: #fe531b;
	border-color: #fe531b; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.yelp {
	background: #c51102;
	border-color: #c51102; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.yahoo {
	background: #65106b;
	border-color: #65106b; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.wordpress {
	background: #207499;
	border-color: #207499; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.technorati {
	background: #00c400;
	border-color: #00c400; }	
.wt_social_networks_sc ul.wt_icon_type_4 li a.reddit {
	background: #6bbffb;
	border-color: #6bbffb; }	
.wt_social_networks_sc ul.wt_icon_type_4 li a.picasa {
	background: #b163c9;
	border-color: #b163c9; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.paypal {
	background: #2c5f8c;
	border-color: #2c5f8c; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.netvibes {
	background: #15ae15;
	border-color: #15ae15; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.metacafe {
	background: #f88326;
	border-color: #f88326; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.html5 {
	background: #e54d26;
	border-color: #e54d26; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.ember {
	background: #e11a3b;
	border-color: #e11a3b; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.dropbox {
	background: #007ee5;
	border-color: #007ee5; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.digg {
	background: #005f95;
	border-color: #005f95; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.blogger {
	background: #fe6601;
	border-color: #fe6601; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.apple {
	background: #231f20;
	border-color: #231f20; }
.wt_social_networks_sc ul.wt_icon_type_4 li a.aim {
	background: #452806;
	border-color: #452806; }
.wt_social_networks_sc ul.wt_icon_type_4 li a:hover {
	border-color: #fff;
	background: rgba(10, 10, 10, 0.2); }
	
/* Counter
   ------------------------------------------------- */	

.wt_counter_sc {
	text-align: center;
	color: #428bca; }
.wt_counter_sc .stat-count {
	display: lock;
	font-size: 40px;
	line-height: 60px;
	width: 160px; 
	font-weight: 900;
	margin: 0; }
.wt_counter_sc i {
	color: #858585;
	display: inline-block;
	font-size: 30px;
	margin-right: 10px;
	line-height: 1; }
.wt_counter_sc.wt_light {
	color: #fff; }
.wt_counter_sc.wt_light .stat-count {
	border-color: #fff; }
.wt_counter_sc .wt_stat_detail {
	color: #bbb;
	display: inline-block;
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	vertical-align: top;
	line-height: 32px;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_fan_facts:hover .wt_stat_detail,
.wt_fan_facts:hover i,
.wt_counter_sc:hover .wt_stat_detail, 
.wt_counter_sc:hover i {
	color: #34b1c4;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
	
/* Blog Grid
   ------------------------------------------------- */	

.wt_blog_grid_sc .blogEntry {
	font-weight: 300;
	color: #757575;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0; }
.wt_blog_grid_sc .blogEntry p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #757575; }
.wt_blog_grid_sc .blogEntry_content {
	padding: 0px 25px 10px 25px; }
.blogEntry_metadata_sc {
	margin-top: 8px;
	margin-bottom: 12px; }
.wt_blog_grid_sc .wt_dates {
	margin-top: 3px; }
.wt_blog_grid_sc .wt_dates {
	float: left;
	display: inline-block;
	margin-bottom: 25px; }
.wt_blog_grid_sc .blogEntry .entry_date span {
	text-align: left; }
.wt_blog_grid_sc .day {
   font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #222; }
.wt_blog_grid_sc .month {
	font-size: 14px;
	line-height: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #656565; }
.wt_blog_grid_sc .blogEntry_frame {
	margin-bottom: 30px; }
.wt_blog_grid_sc .wt_blog_info { }
.wt_blog_grid_sc .blogEntry_title {
	margin: 0;
	margin-top: 5px 0;
	font-size: 20px;
	font-weight: 700;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; }
.wt_blog_grid_sc .blogEntry_title a {
	color: #454545; }
.wt_blog_grid_sc .blogEntry_title a:hover {
	color: #3498db;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; }
.blogEntry_metadata_sc div {
    display: inline-block;
    font-size: 13px;
	color: #858585; }
.blogEntry_metadata_sc div a {
	color: #858585;
   font-size: 14px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #aaa;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; }
.blogEntry_metadata_sc div:last-child a {
	border-right: none;
	margin-right: 0px;
	padding-right: 0px; }
.blogEntry_metadata_sc div i:before {
	margin-left: 0;
	padding-left: 0; }
.wt_blog_grid_sc .blogEntry_excerpt {
	clear: both; } 
.wt_blog_grid_sc .blogEntry a.read_more_link {
	background: transparent;
	border: 1px solid #3498db;
	font-weight: 400;
	color: #3498db !important;
	display: inline-block;
	font-size: 13px;
	padding: 4px 15px;
	margin: 10px 0;
	-webkit-border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	border-radius: 3px 3px;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_blog_grid_sc .blogEntry a.read_more_link:hover {
	background-color: #3498db !important;
	border: 1px solid #3498db;
	color: #fff !important;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_blog_grid_sc .readMore {
	display: inline-block; }
.wt_blog_grid_sc .entry_comments {
	float: right;
	margin-top: 12px;
	font-size: 20px;
	color: #555;
	font-weight: 400;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; }
.wt_blog_grid_sc .entry_comments a {
	color: #555; }
.wt_blog_grid_sc .entry_comments i {
	width: auto;
	vertical-align: baseline; }
.wt_blog_grid_sc .entry_comments:hover,
.wt_blog_grid_sc .entry_comments:hover a {
	color: #3498db;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; }
.wt_blog_grid_sc .wt_image_holder {
	overflow: hidden;
	position: relative; }
.wt_blog_grid_sc .blogEntry_frame {
	position: relative; }
.wt_blog_grid_sc .blogEntry_frame .wt_zoom {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url(../assets/lib/img/zoom_icon.png);
	background-repeat: no-repeat;
	background-position: center; }
.wt_blog_grid_sc .blogEntry_frame .wt_mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: 0;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, 0.5);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out; }
.wt_blog_grid_sc .blogEntry_frame:hover .wt_mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1; }
.wt_blog_grid_sc .blogEntry_frame .wt_zoom {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s; }
.wt_blog_grid_sc .wt_image_holder img,
.wt_blog_grid_sc .owl-item img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear; }
.wt_blog_grid_sc .wt_image_holder:hover img,
.wt_blog_grid_sc .owl-item:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1); }

	
/* Piechart
   ------------------------------------------------- */	
	
.vc_pie_chart {
	margin: 30px auto;}
.vc_span4 .vc_pie_chart {
    width: 240px!important;}
.vc_pie_chart_value {
    color: #fff;
    font-size: 60px!important; }
.wt_piechart .wt_piechart_title {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
    text-align: center;
    padding-left: 10%; }
.vc_pie_chart_value:after {
	content: '%';
	font-size: 50px; }
.wpb_heading {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
    text-align: center; }
.vc_pie_chart_back {
	border: none!important; }

/* Google map
   ------------------------------------------------- */

.wt_gmap_sc {
	width: 100% !important; }
.wt_gmap_sc img {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	max-width: 1000px !important;
	margin: 0;
	padding: 0; }

/* ----- Marker Popup  ----- */
.wt_gmap_sc .wt_marker_content {
	min-width: 160px;
	overflow-x: hidden; }
.wt_gmap_sc .wt_marker_content strong, 
.wt_gmap_sc .wt_marker_content p, 
.wt_gmap_sc .wt_marker_content a {
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 13px !important;
	line-height: 18px !important;
	color: #000 !important;
	margin: 0 !important;
	padding: 0 !important; }
.wt_gmap_sc .wt_marker_content strong {
	display: block !important;
	margin-bottom: 5px !important; }
.wt_gmap_sc .wt_marker_content p {
	margin-bottom: 5px !important; }

/* Countdown
   ------------------------------------------------- */	
   	
.wt_vcsc_style.style-1,
.wt_vcsc_style.style-1 .ts-countdown,
.wt_vcsc_style.style-1 .col {
	background: none !important; }
.wt_vcsc_style.style-1 .ts-countdown {
	margin: 0 !important;
	text-align: left !important; }
.wt_vcsc_style.style-1 .col {
	padding: 0;
	padding-top:20px;
	color: #fff !important;
	font-size:23px; }
.wt_vcsc_style.style-1 .ce-days, 
.wt_vcsc_style.style-1 .ce-dseconds, 
.wt_vcsc_style.style-1 .ce-hours, 
.wt_vcsc_style.style-1 .ce-minutes, 
.wt_vcsc_style.style-1 .ce-mseconds, 
.wt_vcsc_style.style-1 .ce-seconds,
.wt_vcsc_style.style-1 .ce-days-label, 
.wt_vcsc_style.style-1 .ce-dseconds-label, 
.wt_vcsc_style.style-1 .ce-hours-label, 
.wt_vcsc_style.style-1 .ce-minutes-label, 
.wt_vcsc_style.style-1 .ce-mseconds-label, 
.wt_vcsc_style.style-1 .ce-seconds-label  {
	color: #fff !important; }
.wt_vcsc_style.style-1 .col {
	padding: 0px;
	padding-right: 15px;
	margin: 0px !important;
	text-align: center !important; }
	
/* Service Boxes
   ------------------------------------------------- */

.wt_service_box_sc {
	margin-bottom: 30px; }
.wt_service_box_sc h3 {
	color: #222222; 
	font-size: 14px;
	margin-bottom: 15px;
	text-transform: uppercase; }
.wt_service_box_sc p {
	color: #454545;
	margin-bottom: 0 !important; }
.wt_service_box_sc [class^="entypo-"], 
.wt_service_box_sc [class*=" entypo-"],
.wt_service_box_sc [class^="glyphicon-"], 
.wt_service_box_sc [class*=" glyphicon-"] {
	display: inline-block; }
.wt_service_box_sc:hover .wt_icon_type_1.wt_simple i {
	color: #777!important;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_service_box_sc:hover .wt_icon i {
	color: #3498db!important;
	border: 1px solid #3498db!important;
	background: transparent!important; }
.wt_service_box_sc.wt_align_left .wt_icon {
	float: left;
	margin: 0px 20px 15px 0; }
.wt_service_box_sc.wt_align_left .wt_icon.wt_icon_50 {
	margin: 0px 20px 15px 0; }
.wt_service_box_sc.wt_align_right .wt_icon {
	float: right;
	margin: 0px 0 15px 20px; }
.wt_service_box_sc.wt_align_right .wt_icon.wt_icon_50 {
	margin: 0px 0 15px 40px; }
.wt_service_box_sc.wt_align_left .wt_service_details,
.wt_service_box_sc.wt_align_right .wt_service_details {
	overflow: hidden;
	margin-bottom: 10px!important; }
.wt_service_box_sc.wt_align_left,
.wt_service_box_sc.wt_align_right {
	clear: both; }
.wt_service_box_sc.wt_top_margin {
	margin-top: 40px; }
.wt_service_box_sc.wt_align_left .wt_service_details h3,
.wt_service_box_sc.wt_align_right .wt_service_details h3 {
	margin-top: 0px; }
.wt_service_box_sc .wt_circle i,
.wt_service_box_sc .wt_square i,
.wt_service_box_sc .wt_rounded i {
	border: 1px solid #222;
	position: relative;
	text-align: center;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_service_box_sc .wt_icon_26 i {
    line-height: 26px;
    font-size: 26px; }
.wt_service_box_sc .wt_icon_32 i {
    line-height: 32px;
    font-size: 32px; }
.wt_service_box_sc .wt_icon_38 i {
    line-height: 38px;
    font-size: 38px; }
.wt_service_box_sc .wt_icon_44 i {
    line-height: 44px; 
    font-size: 44px; }
.wt_service_box_sc .wt_icon_50 i {
    line-height: 50px;
    font-size: 50px; }
.wt_service_box_sc .wt_icon_60 i {
    line-height: 60px;
    font-size: 60px; }
.wt_service_box_sc .wt_icon_70 i {
    line-height: 70px;
    font-size: 70px; }
.wt_service_box_sc .wt_icon_80 i {
    line-height: 80px;
    font-size: 80px; }
.wt_service_box_sc .wt_square.wt_icon_26 i,
.wt_service_box_sc .wt_square.wt_icon_32 i,
.wt_service_box_sc .wt_square.wt_icon_38 i,
.wt_service_box_sc .wt_square.wt_icon_44 i,
.wt_service_box_sc .wt_rounded.wt_icon_26 i,
.wt_service_box_sc .wt_rounded.wt_icon_32 i,
.wt_service_box_sc .wt_rounded.wt_icon_38 i,
.wt_service_box_sc .wt_rounded.wt_icon_44 i,
.wt_service_box_sc .wt_circle.wt_icon_26 i,
.wt_service_box_sc .wt_circle.wt_icon_32 i,
.wt_service_box_sc .wt_circle.wt_icon_38 i,
.wt_service_box_sc .wt_circle.wt_icon_44 i {
	line-height: 55px;
	width: 55px;
	height: 55px; }
.wt_service_box_sc .wt_square.wt_icon_50 i,
.wt_service_box_sc .wt_rounded.wt_icon_50 i,
.wt_service_box_sc .wt_circle.wt_icon_50 i {
	line-height: 75px;
	width: 75px;
	height: 75px; }
.wt_service_box_sc .wt_square.wt_icon_60 i,
.wt_service_box_sc .wt_square.wt_icon_70 i,
.wt_service_box_sc .wt_square.wt_icon_80 i,
.wt_service_box_sc .wt_rounded.wt_icon_60 i,
.wt_service_box_sc .wt_rounded.wt_icon_70 i,
.wt_service_box_sc .wt_rounded.wt_icon_80 i,
.wt_service_box_sc .wt_circle.wt_icon_60 i,
.wt_service_box_sc .wt_circle.wt_icon_70 i,
.wt_service_box_sc .wt_circle.wt_icon_80 i {
	line-height: 85px;
	width: 85px;
	height: 85px; }
.wt_service_box_sc .wt_square.wt_icon_80 i,
.wt_service_box_sc .wt_rounded.wt_icon_80 i,
.wt_service_box_sc .wt_circle.wt_icon_80 i {
	line-height: 100px;
	width: 100px;
	height: 100px; }
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_26,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_32,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_38,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_44,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_50,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_60,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_70,
.wt_service_box_sc.wt_align_center .wt_square.wt_icon_80,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_26,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_32,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_38,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_44,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_50,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_60,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_70,
.wt_service_box_sc.wt_align_center .wt_rounded.wt_icon_80,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_26,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_32,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_38,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_44,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_50,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_60,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_70,
.wt_service_box_sc.wt_align_center .wt_circle.wt_icon_80 {
	margin: 0 auto; }

.wt_service_box_sc:hover .wt_icon_type_2.wt_circle i {
	color: #fff;
	border: 1px solid #222;
	background-color: #222;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_service_box_sc .wt_rounded i {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; }
.wt_service_box_sc .wt_circle i {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; }
.wt_service_box_sc .wt_services_button {
	font-weight: 400;
	font-size: 13px;
	padding: 7px 14px;
	display: inline-block;
	margin: 20px 0 20px 0;
	background-color: #fff;
	border: 1px solid #222;
	color: #222;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_service_box_sc:hover .wt_services_button {
	background-color: #f4f4f4;
	border: 1px solid #222;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_service_box_sc .wt_services_button:hover {
	background-color: #454545;
	border: 1px solid #454545;
	color: #fff;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
	
/* theme related */

.wt_section_full .wt_service_box_margin {
	width: 32.9333% !important;
	margin-left: 0.3%;
	margin-top: 4px;
	margin-bottom: 4px;}
.wt_section_full .wt_service_box_sc {
	margin-bottom: 0;
	padding: 95px 55px 70px 55px; }
.wt_section_full .wt_service_box_sc.wt_align_left .wt_icon.wt_icon_type_2,
.wt_section_full .wt_service_box_sc.wt_align_right .wt_icon.wt_icon_type_2  {
	float: none;
	margin-bottom: 20px; }
.wt_section_full .wt_service_box_sc i:before {
	padding: 0;
	margin: 0; }
.wt_section_full .wt_service_box_sc.wt_align_left .wt_service_details, 
.wt_section_full .wt_service_box_sc.wt_align_right .wt_service_details {
	overflow: inherit; }
.wt_section_full .wt_service_box_sc {
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_section_full .wt_service_box_sc:hover {
	background-color: #393f43;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_section_full .wt_service_box_sc:hover p {
	color: #fff;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_section_full .wt_service_box_sc:hover .wt_services_button {
	background-color: transparent;
	border: 1px solid #34b1c4;
	color: #34b1c4;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_section_full .wt_service_box_sc .wt_services_button:hover {
	background-color: #34b1c4;
	border: 1px solid #34b1c4;
	color: #fff; }
.wt_section_full .wt_service_box_sc h3 {
	font-size: 18px;
	line-height: 100%;
	vertical-align: middle;
	margin: 20px 0 20px 0;
	font-weight: 700;
	text-transform: none;
	color: #222;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_section_full .wt_service_box_sc:hover h3,
.wt_section_full .wt_service_box_sc:hover .wt_icon i {
	color: #34b1c4 !important;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_section_full .wt_service_box_sc:hover .wt_icon i {
	border: none!important; }
#services.wt_section_full .vc_col-xs-1, #services.wt_section_full .vc_col-sm-1, #services.wt_section_full .vc_col-md-1, #services.wt_section_full .vc_col-lg-1, #services.wt_section_full .vc_col-xs-2, #services.wt_section_full .vc_col-sm-2, #services.wt_section_full .vc_col-md-2, #services.wt_section_full .vc_col-lg-2, #services.wt_section_full .vc_col-xs-3, #services.wt_section_full .vc_col-sm-3, #services.wt_section_full .vc_col-md-3, #services.wt_section_full .vc_col-lg-3, #services.wt_section_full .vc_col-xs-4, #services.wt_section_full .vc_col-sm-4, #services.wt_section_full .vc_col-md-4, #services.wt_section_full .vc_col-lg-4, #services.wt_section_full .vc_col-xs-5, #services.wt_section_full .vc_col-sm-5, #services.wt_section_full .vc_col-md-5, #services.wt_section_full .vc_col-lg-5, #services.wt_section_full .vc_col-xs-6, #services.wt_section_full .vc_col-sm-6, #services.wt_section_full .vc_col-md-6, #services.wt_section_full .vc_col-lg-6, #services.wt_section_full .vc_col-xs-7, #services.wt_section_full .vc_col-sm-7, #services.wt_section_full .vc_col-md-7, #services.wt_section_full .vc_col-lg-7, #services.wt_section_full .vc_col-xs-8, #services.wt_section_full .vc_col-sm-8, #services.wt_section_full .vc_col-md-8, #services.wt_section_full .vc_col-lg-8, #services.wt_section_full .vc_col-xs-9, #services.wt_section_full .vc_col-sm-9, #services.wt_section_full .vc_col-md-9, #services.wt_section_full .vc_col-lg-9, #services.wt_section_full .vc_col-xs-10, #services.wt_section_full .vc_col-sm-10, #services.wt_section_full .vc_col-md-10, #services.wt_section_full .vc_col-lg-10, #services.wt_section_full .vc_col-xs-11, #services.wt_section_full .vc_col-sm-11, #services.wt_section_full .vc_col-md-11, #services.wt_section_full .vc_col-lg-11, #services.wt_section_full .vc_col-xs-12, #services.wt_section_full .vc_col-sm-12, #services.wt_section_full .vc_col-md-12, #services.wt_section_full .vc_col-lg-12 {
	padding: 0 !important; }
#services.wt_section_full .vc_row {
	margin: 0 !important; }

/* Services
   ------------------------------------------------- */
   
.wt_services_sc {
	padding: 20px 0 10px; }
.wt_services_sc .wt_service_details {
	text-align: center;
	background-color: #f4f4f4;
	border-bottom: 1px solid #e4e4e4;
	padding: 30px 25px 20px 25px; }
.wt_services_sc .wt_service_details h4 {
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase; }
.wt_services_sc .wt_service_details p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #757575; }
.wt_services_sc .wt_service_img {
	position: relative;
	overflow: hidden; }
.wt_services_sc .wt_service_img.wt_img_effect img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear; }
.wt_services_sc .wt_service_img.wt_img_effect:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1); }
.wt_service_img:hover .wt_mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1; }
.wt_service_img .wt_mask {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0; }
.wt_service_img .wt_mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	background-color: rgba(0,0,0, 0.5);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	height: 100%;
	width: 100%; }
.wt_service_img span.wt_zoom {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-image: url(../assets/lib/img/zoom_icon.png);
	background-repeat: no-repeat;
	background-position: center; }
.wt_service_img:hover a.wt_zoom {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s; }

.wt_services_sc .wt_service_details a.btn {
	background-color: transparent;
	border: 1px solid #3498db;
	color: #3498db;
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 10px 0 20px 0;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_services_sc .wt_service_details a.btn:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_services_sc .wt_icon i:before,
.wt_services_sc i.wt_services_bg_icon:before {
	margin: 0;
	width: auto; }
.wt_services_sc .wt_icon_30 {
	font-size: 30px; 
	line-height: 30px; }
.wt_services_sc .wt_icon_40 {
	font-size: 40px;
	line-height: 40px; }
.wt_services_sc .wt_icon_50 {
	font-size: 50px;
	line-height: 50px; }
.wt_services_sc .wt_icon_60 {
	font-size: 60px;
	line-height: 60px; }
.wt_services_sc .wt_icon_70 {
	font-size: 70px;
	line-height: 70px; }
.wt_services_sc .wt_icon_80 {
	font-size: 80px;
	line-height: 80px; }
.wt_services_sc h3 {
	font-size: 30px; }
.wt_services_sc h5 {
	font-size: 22px; }
.wt_services_sc .wt_services_bg_icon {
	position: absolute;
	top: 15px;
	color: #fcfcfc;
	font-size: 160px;
	line-height: 160px;
	z-index: -1; }
.wt_services_sc.wt_align_right .wt_services_bg_icon {
	right: 65px; }
.wt_services_sc.wt_align_left .wt_services_bg_icon {
	left: 65px; }
.wt_services_sc.wt_align_center .wt_services_bg_icon {
	right: 50%; }

/* Pricing Table
   ------------------------------------------------- */

.wt_pricing_box_sc {
	text-align: center;
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	    border-radius: 6px;
	margin-bottom: 50px; }
.wt_pricing_box_sc .wt_pricing_header {
	color: #fff;
	background-color: #444444;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; }
.wt_pricing_box_sc.wt_price_has_icon {
	margin-top: 58px; }
.wt_pricing_box_sc .wt_icon span {
	display: inline-block;
	margin-bottom: 10px !important;
	margin-top: -58px;
	color: #2d2d2d;
	background: #f5f5f5;
	border: 1px dashed;
	border-color: #2d2d2d;
	border-radius: 100%;
	-webkit-transition: all .6s ease-in-out;
	  -moz-transition: all .6s ease-in-out;
		-ms-transition: all .6s ease-in-out;
		  -o-transition: all .6s ease-in-out;
			transition: all .6s ease-in-out; }
.wt_pricing_box_sc.wt_pricing_featured .wt_icon span {
	color: #fff;
	background: #333; }
.wt_pricing_box_sc:hover .wt_icon span {
	color: #f5f5f5;
	background: #3071a9;
	border-color: #2f689a;
    -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg) ;
        -webkit-transform: rotate(360deg) ;
          transform: rotate(360deg); }
.wt_pricing_box_sc .wt_icon i {
	display: inline-block;
	font-size: 50px;
	line-height: 1;
	border: 5px solid #ffffff;
	border-radius: 100%;
	padding: 28px;
	cursor: pointer; }
.wt_pricing_box_sc .wt_icon i:before {
	margin: 0; }
.wt_pricing_box_sc ul {
	color: #757575;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
    padding: 0px 40px;	
	margin: 0;
	text-align: left;
	list-style: none;
	background: #f8f8f8; }
.wt_pricing_box_sc.wt_pricing_featured ul {
	background: none; }
.wt_pricing_box_sc ul li {
	margin: 0;
    padding: 20px 0px;
    border-top: 1px solid #e0e0e0; }
.wt_pricing_box_sc ul li:nth-child(1),
.wt_pricing_box_sc.wt_pricing_featured ul li:nth-child(1) {
    border: none; }
.wt_pricing_box_sc ul li i {
	float: right;
	line-height: inherit;
	vertical-align: baseline; }
.wt_pricing_box_sc ul li i.green {
	color: #16a085; }
.wt_pricing_box_sc ul li i.red {
	color: #df4c3c; }
/*
.wt_pricing_box_sc li:nth-of-type(2n) {
	background: #f1f1f1; }
.wt_pricing_box_sc .wt_pricing_content {
	color: #333333; }
.wt_pricing_box_sc.wt_pricing_featured .wt_pricing_content {
	color: #f5f5f5; }
.wt_pricing_box_sc.wt_pricing_featured li:nth-of-type(2n) {
	background: none; }
.wt_pricing_box_sc.wt_pricing_featured li:nth-of-type(2n+1) {
	background: #2d2d2d; }
*/
.wt_pricing_box_sc h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 50px;
    margin: 0; }
.wt_pricing_box_sc.wt_price_has_icon .wt_icon {
	-webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
.wt_pricing_box_sc.wt_price_has_icon h3 {
	padding-top: 15px;
	-webkit-border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0; }
.wt_pricing_box_sc .wt_plan_price {	
	margin: 0;
	line-height: normal;
    padding: 20px;
	padding-top: 5px; }
.wt_pricing_box_sc .wt_plan_price h4 {
	padding: 0px 0 15px 0;
	color: #fff;
	font-size: 60px;
	font-weight: 400;
	margin: 0; }
.wt_pricing_box_sc .wt_plan_price h4 i {
	display: block;
	font-style: normal;
	margin-top: 5px;
	font-size: 32px;
	font-weight: 100;
	color: #fff; }
.wt_pricing_box_sc .wt_pricing_btn {
    padding: 15px 40px 45px 40px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	-webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
.wt_pricing_box_sc .wt_pricing_btn .btn {
	display: block;
	font-size: 14px;
	font-weight: 400;
	padding: 12px 0;
	line-height: 24px;
	text-transform: uppercase;
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out; }
.wt_pricing_box_sc .wt_pricing_btn .btn:hover {
	color: #444;
	background: transparent !important;
	border: 1px solid #444; }
/*
.wt_pricing_box_sc .wt_pricing_btn a {
	display: inline-block; 
	padding: 8px 28px;
	text-transform: uppercase;
	color: #f5f5f5;
	border: 1px dotted #f5f5f5;
	font-size: 14px; }
.wt_pricing_box_sc .wt_pricing_btn a:hover {
	background: #f5f5f5;
	color: #2d2d2d; }
*/

/* ----- Featured Table Styles ----- */
.wt_pricing_box_sc.wt_pricing_featured .wt_pricing_header {
	border-bottom: 1px solid #428bca; }
.wt_pricing_box_sc.wt_pricing_featured h3 {
	background-color: #428bca;
	color: #f7f7f7; }
.wt_pricing_box_sc.wt_pricing_featured.wt_price_has_icon .wt_icon {
	background-color: #428bca; }
.wt_pricing_box_sc.wt_pricing_featured .wt_plan_price {
	background-color: #428bca;
	color: #f7f7f7;
	border-top: 1px solid #2f689a;
	border-bottom: 1px solid #428bca; }
.wt_pricing_box_sc.wt_pricing_featured .wt_plan_price h4,
.wt_pricing_box_sc.wt_pricing_featured .wt_plan_price i { 
	color: #f7f7f7; }

/* Bootstrap Tooltip
   ------------------------------------------------- */	

.tooltip {
	font-size: 11px; }
.tooltip-inner {
	padding: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }

/* Clients
   ------------------------------------------------- */

.wt_client {
	margin-bottom: 40px; }
.wt_owl_carousel .wt_client {
	margin-bottom: 20px; }
.wt_client a {
	display: inline-block; }
.wt_client img {
	display: block;
	width: auto;
	width: 100%\9;
	-webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		  -o-transition: all 0.3s ease;
			transition: all 0.3s ease; }
.wt_client.wt_client_border img {
	border: 1px solid;
	border-color: transparent;}
.wt_client.wt_client_border img:hover {
	border-color: #888888; }
	
/* Custom Headings Styles
   ------------------------------------------------- */	
   
.wt_cheading_sc h1,
.wt_cheading_sc h2,
.wt_cheading_sc h3,
.wt_cheading_sc h4,
.wt_cheading_sc h5,
.wt_cheading_sc h6 { 
	margin-bottom: 20px;
	margin-top: 10px;
	line-height: 30px; }
	
/* ----- Headings #1  ----- */	
.wt_cheading_sc.wt_cheading_1 h1,
.wt_cheading_sc.wt_cheading_1 h2,
.wt_cheading_sc.wt_cheading_1 h3,
.wt_cheading_sc.wt_cheading_1 h4,
.wt_cheading_sc.wt_cheading_1 h5,
.wt_cheading_sc.wt_cheading_1 h6 { 
	position: relative; }
.wt_cheading_sc.wt_cheading_1 h1:after,
.wt_cheading_sc.wt_cheading_1 h2:after,
.wt_cheading_sc.wt_cheading_1 h3:after,
.wt_cheading_sc.wt_cheading_1 h4:after,
.wt_cheading_sc.wt_cheading_1 h5:after,
.wt_cheading_sc.wt_cheading_1 h6:after {
	content: "";
	display: block;
	border-bottom: 1px solid;
	border-color: #e1e1e1;
	width: 30%;
	height: 1px;
	margin: 30px 0; }
.wt_cheading_sc.wt_cheading_1 h1:before,
.wt_cheading_sc.wt_cheading_1 h2:before,
.wt_cheading_sc.wt_cheading_1 h3:before,
.wt_cheading_sc.wt_cheading_1 h4:before,
.wt_cheading_sc.wt_cheading_1 h5:before,
.wt_cheading_sc.wt_cheading_1 h6:before {
	content: "";
	display: block;
	background: #fcfcfc;
	border-radius: 100%;
	height: 10px;
	width: 10px;
	border: 1px solid;
	border-color: #e1e1e1;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 0;
	margin-bottom: -4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;  
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 2px #999; 
	-moz-box-shadow: 0 1px 2px #999; 
	box-shadow: 0 1px 2px #999; }
.wt_cheading_sc.wt_cheading_1.wt_align_center {
	text-align: center;	}
.wt_cheading_sc.wt_cheading_1.wt_align_center h1:after,
.wt_cheading_sc.wt_cheading_1.wt_align_center h2:after,
.wt_cheading_sc.wt_cheading_1.wt_align_center h3:after,
.wt_cheading_sc.wt_cheading_1.wt_align_center h4:after,
.wt_cheading_sc.wt_cheading_1.wt_align_center h5:after,
.wt_cheading_sc.wt_cheading_1.wt_align_center h6:after {
	margin: 30px auto; }
.wt_cheading_sc.wt_cheading_1.wt_align_center h1:before,
.wt_cheading_sc.wt_cheading_1.wt_align_center h2:before,
.wt_cheading_sc.wt_cheading_1.wt_align_center h3:before,
.wt_cheading_sc.wt_cheading_1.wt_align_center h4:before,
.wt_cheading_sc.wt_cheading_1.wt_align_center h5:before,
.wt_cheading_sc.wt_cheading_1.wt_align_center h6:before {
	left: 50%;
	margin-left: -5px; }
.wt_cheading_sc.wt_cheading_1.wt_align_right {
	text-align: right;	}
.wt_cheading_sc.wt_cheading_1.wt_align_right h1:after,
.wt_cheading_sc.wt_cheading_1.wt_align_right h2:after,
.wt_cheading_sc.wt_cheading_1.wt_align_right h3:after,
.wt_cheading_sc.wt_cheading_1.wt_align_right h4:after,
.wt_cheading_sc.wt_cheading_1.wt_align_right h5:after,
.wt_cheading_sc.wt_cheading_1.wt_align_right h6:after {
	margin: 30px 0 30px auto; }
.wt_cheading_sc.wt_cheading_1.wt_align_right h1:before,
.wt_cheading_sc.wt_cheading_1.wt_align_right h2:before,
.wt_cheading_sc.wt_cheading_1.wt_align_right h3:before,
.wt_cheading_sc.wt_cheading_1.wt_align_right h4:before,
.wt_cheading_sc.wt_cheading_1.wt_align_right h5:before,
.wt_cheading_sc.wt_cheading_1.wt_align_right h6:before {
	left: 100%;
	margin-left: -10px; }	
	
/* ----- Headings #2  ----- */
.wt_cheading_sc.wt_cheading_2 {
	overflow: hidden;
	margin-bottom: 30px;
	display: table; }
.wt_cheading_sc.wt_cheading_2 .wt_cheading_sep_wrap {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: relative;
	height: 7px; }	
.wt_cheading_sc.wt_cheading_2 .wt_cheading_sep {
	display: block;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
	position: relative;
	height: 7px;
	top: 1px; }
.wt_cheading_sc.wt_cheading_2 h1,
.wt_cheading_sc.wt_cheading_2 h2,
.wt_cheading_sc.wt_cheading_2 h3,
.wt_cheading_sc.wt_cheading_2 h4,
.wt_cheading_sc.wt_cheading_2 h5,
.wt_cheading_sc.wt_cheading_2 h6 {		
	float: left;
	padding: 0 10px 0 0;
	margin: 0;
	display: table-cell;
	white-space: pre; }
.wt_cheading_sc.wt_cheading_2.wt_align_right h1,
.wt_cheading_sc.wt_cheading_2.wt_align_right h2,
.wt_cheading_sc.wt_cheading_2.wt_align_right h3,
.wt_cheading_sc.wt_cheading_2.wt_align_right h4,
.wt_cheading_sc.wt_cheading_2.wt_align_right h5,
.wt_cheading_sc.wt_cheading_2.wt_align_right h6 {		
	float: right;
	padding: 0 0 0 10px; }
	
/* ----- Headings #3  ----- */	
.wt_cheading_sc.wt_cheading_3 {
	position: relative;
	margin-bottom: 20px; }	
.wt_cheading_sc.wt_cheading_3 h1,
.wt_cheading_sc.wt_cheading_3 h2,
.wt_cheading_sc.wt_cheading_3 h3,
.wt_cheading_sc.wt_cheading_3 h4,
.wt_cheading_sc.wt_cheading_3 h5,
.wt_cheading_sc.wt_cheading_3 h6 { 
	border-bottom: 1px solid; 
	/*border-color: #e5e5e5;*/
	border-color: transparent;
	padding-bottom: 20px; }
.wt_cheading_sc.wt_cheading_3 h1:after,
.wt_cheading_sc.wt_cheading_3 h2:after,
.wt_cheading_sc.wt_cheading_3 h3:after,
.wt_cheading_sc.wt_cheading_3 h4:after,
.wt_cheading_sc.wt_cheading_3 h5:after,
.wt_cheading_sc.wt_cheading_3 h6:after {
	background: none repeat scroll 0 0 #e74c3c;
	bottom: 0px;
	content: " ";
	height: 2px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: auto;
	width: 150px; }
.wt_cheading_sc.wt_cheading_3 h1 span,
.wt_cheading_sc.wt_cheading_3 h2 span,
.wt_cheading_sc.wt_cheading_3 h3 span,
.wt_cheading_sc.wt_cheading_3 h4 span,
.wt_cheading_sc.wt_cheading_3 h5 span,
.wt_cheading_sc.wt_cheading_3 h6 span { 
	display: inline-block;
	padding-bottom: 10px;  }
.wt_cheading_sc.wt_cheading_3.wt_align_center h1,
.wt_cheading_sc.wt_cheading_3.wt_align_center h2,
.wt_cheading_sc.wt_cheading_3.wt_align_center h3,
.wt_cheading_sc.wt_cheading_3.wt_align_center h4,
.wt_cheading_sc.wt_cheading_3.wt_align_center h5,
.wt_cheading_sc.wt_cheading_3.wt_align_center h6 { 
	text-align: center; }
.wt_cheading_sc.wt_cheading_3.wt_align_right h1,
.wt_cheading_sc.wt_cheading_3.wt_align_right h2,
.wt_cheading_sc.wt_cheading_3.wt_align_right h3,
.wt_cheading_sc.wt_cheading_3.wt_align_right h4,
.wt_cheading_sc.wt_cheading_3.wt_align_right h5,
.wt_cheading_sc.wt_cheading_3.wt_align_right h6 { 
	text-align: right; }
.wt_cheading_sc.wt_cheading_3.wt_align_right h1:after,
.wt_cheading_sc.wt_cheading_3.wt_align_right h2:after,
.wt_cheading_sc.wt_cheading_3.wt_align_right h3:after,
.wt_cheading_sc.wt_cheading_3.wt_align_right h4:after,
.wt_cheading_sc.wt_cheading_3.wt_align_right h5:after,
.wt_cheading_sc.wt_cheading_3.wt_align_right h6:after {
	left: auto;
	right: 0; }
.wt_cheading_sc.wt_cheading_3.wt_align_center h1:after,
.wt_cheading_sc.wt_cheading_3.wt_align_center h2:after,
.wt_cheading_sc.wt_cheading_3.wt_align_center h3:after,
.wt_cheading_sc.wt_cheading_3.wt_align_center h4:after,
.wt_cheading_sc.wt_cheading_3.wt_align_center h5:after,
.wt_cheading_sc.wt_cheading_3.wt_align_center h6:after {
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%); }
	
/* ----- Headings #4  ----- */	
.wt_cheading_sc.wt_cheading_4 {
	background: transparent url(lib/img/divider_line.png) repeat-x center center;
	overflow: hidden;
	margin-bottom: 30px; }
.wt_cheading_sc.wt_cheading_4 h1,
.wt_cheading_sc.wt_cheading_4 h2,
.wt_cheading_sc.wt_cheading_4 h3,
.wt_cheading_sc.wt_cheading_4 h4,
.wt_cheading_sc.wt_cheading_4 h5,
.wt_cheading_sc.wt_cheading_4 h6 {
	display: inline;
	padding: 0 10px 0 0;
	margin: 0;
	background: #ffffff; }
.wt_cheading_sc.wt_cheading_4.wt_align_right h1,
.wt_cheading_sc.wt_cheading_4.wt_align_right h2,
.wt_cheading_sc.wt_cheading_4.wt_align_right h3,
.wt_cheading_sc.wt_cheading_4.wt_align_right h4,
.wt_cheading_sc.wt_cheading_4.wt_align_right h5,
.wt_cheading_sc.wt_cheading_4.wt_align_right h6 {
	padding: 0 0 0 10px; }
.wt_cheading_sc.wt_cheading_4.wt_align_center h1,
.wt_cheading_sc.wt_cheading_4.wt_align_center h2,
.wt_cheading_sc.wt_cheading_4.wt_align_center h3,
.wt_cheading_sc.wt_cheading_4.wt_align_center h4,
.wt_cheading_sc.wt_cheading_4.wt_align_center h5,
.wt_cheading_sc.wt_cheading_4.wt_align_center h6 {
	padding: 0 10px;
	margin: 0 auto; }
.wt_cheading_sc.wt_cheading_4.wt_align_right {
	text-align: right; }
.wt_cheading_sc.wt_cheading_4.wt_align_center {
	text-align: center; }
	
/* Section Headings
   ------------------------------------------------- */	
	
.wt_section_heading.intro_text {
	margin-bottom: 40px; }	

/* Gallery Grid
   ------------------------------------------------- */

.wt_gallery_grid_item {
	margin-bottom: 30px; }
.wt_gallery_grid_item.wt_col_1 {
	clear: both; } 
.wt_gallery_item_inner {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	-moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; 
	-moz-transition: all ease 400ms ease-in-out;
	  -webkit-transition: all ease 400ms ease-in-out;
	    -o-transition: all ease 400ms ease-in-out;
	      transition: all ease 400ms ease-in-out; }
.wt_gallery_overlay {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(10, 10, 10, 0.55);
	-moz-transition: all ease 400ms ease-in-out;
	  -webkit-transition: all ease 400ms ease-in-out;
	    -o-transition: all ease 400ms ease-in-out;
	      transition: all ease 400ms ease-in-out; }  
.wt_gallery_item_inner > img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	-moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; 
	-moz-transition: all ease 400ms ease-in-out;
	  -webkit-transition: all ease 400ms ease-in-out;
	    -o-transition: all ease 400ms ease-in-out;
		  transition: all ease 400ms ease-in-out; }
		  
/* ----- Image Zoom Icon ----- */
.wt_image_zoom {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	background-color: #428bca;
	text-align: center;
	position: absolute;
	top: -50%;
	left: 50%;
	border-radius: 50%;
	margin-top: -25px;
	margin-left:  -25px;
	-webkit-transition: all ease 400ms ease-in-out;
	  -moz-transition: all ease 400ms ease-in-out;
	    -ms-transition: all ease 400ms ease-in-out;
	      -o-transition: all ease 400ms ease-in-out;
	        transition: all ease 400ms ease-in-out; }
			
/* ----- Image Title ----- */
.wt_gallery_overlay h3 {
	width: 100%;	
	position: absolute;
	bottom: -28%;
	color: #f8f8f8;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;	
	padding: 0 10px;
	-webkit-transition: all 300ms ease-in-out;
	  -moz-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	      -ms-transition: all 300ms ease-in-out;
	        transition: all 300ms ease-in-out; }

/* ----- Image Scale ( Hover Effect ) ----- */
.wt_gallery_item_inner:hover img {
	transform: scale(1.2);
	  -ms-transform: scale(1.2);
	    -webkit-transform: scale(1.2);
	      -o-transform: scale(1.2);
			-moz-transform: scale(1.2); }

.wt_gallery_item_inner:hover .wt_image_zoom {
	top: 45%;
	color: #fff; }

.wt_gallery_item_inner:hover .wt_gallery_overlay h3 {
	bottom: 28%; }
.wt_gallery_item_inner:hover .wt_gallery_overlay {
	opacity: 1;
	z-index: 2; } 
.wt_image_zoom:hover, .wt_image_zoom:focus {
	background-color: #3071a9;
	color: #fff; }
.wt_gallery_no_margins {
	margin-bottom: 40px; }
.wt_gallery_no_margins article {
	padding: 0;
	margin: 0; }
	
/* Accordion
   ------------------------------------------------- */

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
	margin: 0; }
.wpb_accordion .wpb_accordion_header:focus {
	outline: none; }
.wpb_accordion .wpb_accordion_section {
	margin: 3px 0 6px; }	
.wpb_accordion .wpb_accordion_section:last-child {
	margin-bottom: 3px; }
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {	
	color: #666; 
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	padding: 10px 40px 10px 15px;
	border-left: 4px solid transparent;
	background: url('lib/img/open.png') no-repeat center right;
	-webkit-transition: all 300ms ease-in-out;
	  -moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		  -ms-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out; }
.wpb_accordion .wpb_accordion_header.ui-state-active a {
	color: #151515;
	font-weight: 900;
	border-left-color: #428bca;	
	background-image: url('lib/img/close.png'); }	
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, 
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon { 
	display: none; }
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
	line-height: 22px;
	padding: 10px 10px; 
	margin-bottom: 5px; }
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, 
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background-color: rgba(170, 170, 170, 0.15); }
.wpb_accordion .wpb_text_column p:last-child {
	margin-bottom: 10px; }

/* Video Player
   ------------------------------------------------- */
   	
.wpb_video_widget .wpb_wrapper .wpb_video_wrapper {
	padding-bottom: 54.25%;
	padding-top: 20px;
	height: 0;
	overflow: hidden; }
.wt-row-container .vc_column_container {
	padding-left: 15px;
	padding-right: 15px; }
.wt-row-container .vc_column_container>.vc_column-inner {
	padding: 0; }