/*** mobile settings ***/
.mobile-hide {
  display: none;
}
.home-text {
    width: 100%;
    margin-top: -15px;
}
.home-img {
  width: 100%;
}
.homewrap {
  display: table;
  height: 90vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.homewrap-inner {
  vertical-align: middle;
  display: table-cell;
}
.home-text h1,.home-img h1 {
  color: black !important;
  font-weight: 600;
  text-align: center !important;
  max-width: 320px;
  margin: 0 auto;
  text-shadow: none !important;
}
h1.mobile-show {
    /* margin-top: 10px; */
}
.home-text p {
  color: black !important;
  font-size: .5em;
  font-weight: 500;
  text-align: center !important;
  max-width: 320px;
  margin: 0 auto;
  text-shadow: none !important;
}
.wp-image-1211 {
  max-width: 270px;
}
.container p, li {
    line-height: 22pt;
    margin-top: 11px !important;
}
#wt_home_content .row {
  margin-top: 10px;
}
#dk-speakout-petition-1 {
  width: 100%;
  z-index: 100;
  margin: 0 auto;
}
#dk-speakout-petition-1.dk-speakout-petition-wrap {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  box-shadow: unset;
}
#dk-speakout-petition-1 .dk-speakout-city {
    float: left;
    width: calc(100% - 80px) !important;
}

#dk-speakout-petition-1 .dk-speakout-state {
    width: 70px !important;
    float: left;
    margin-left: 10px;
}
#dk-speakout-petition-1 .dk-speakout-petition input,#dk-speakout-petition-1 .dk-speakout-petition select {
    text-align: center;
    font-size: 1.2em !important;
    font-family: 'Ubuntu' !important;
}
#dk-speakout-petition-1 .dk-speakout-submit {
    border-radius: 4px !important;
    border: none !important;
    background: #88A67A !important;
    width: 100% !important;
    height: 45px !important;
    line-height: 2.7em !important;
    font-size: 1.2em !important;
    font-family: 'Ubuntu' !important;
}
#dk-speakout-ajaxloader-1 {
  display: none;
}
#dk-speakout-petition-1 .dk-speakout-progress {
    background: linear-gradient(#ddd, #eee);
    border-radius: 10px;
}
#dk-speakout-petition-1 .dk-speakout-progressbar-low {
  background-color: #EE7576 !important;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}
#dk-speakout-petition-1 .dk-speakout-signature-count {
  color: black;
}
#dk-speakout-petition-1 .dk-speakout-signature-count span {
    font-size: 5em;
    font-family: 'Dosis';
    display: block;
    font-weight: 300;
    color: #343434;
    margin: 14px 0 24px;
}
.dk-speakout-share p {
    display: inline;
}
.dk-speakout-petition .dk-speakout-full, .dk-speakout-petition .dk-speakout-optin-wrap {
	width: 100% !important;
  margin: 0px;
}

/*** desktop settings ***/
@media (min-width: 750px) {
  .mobile-show {
    display: none;
  }
  .mobile-hide {
    display: unset;
  }
  .home-text {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    margin-top: 15px;
  }
  .home-img {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
  }
  .wp-image-1211 {
    margin: 0 !important;
    width: 100%;
    max-width: unset;
  }
  #wt_home_content .row {
    margin-top: 0px;
  }
}


@media (min-width: 1430px) {
  .home-text h1,.home-text p {
    max-width: 500px;
  }
}
