/* ================================================================================
Theme Name: Simple Theme Child
Theme URI: http://themeforest.net/user/whoathemes/
Description: Designed by <a href="http://themeforest.net/user/whoathemes/">Whoathemes</a>.
Version: 1.0
Author: <a href="http://themeforest.net/user/whoathemes">WhoaThemes</a>
Author URI: http://themeforest.net/user/whoathemes/
Template: simple
================================================================================ */

/*CUSTOM STYLES*/
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500'); */
@import '/wp-content/plugins/cool-timeline/css/';

@import '/wp-content/plugins/cool-timeline/css/admin-style.css';
@import '/wp-content/plugins/cool-timeline/css/animate.min.css';
@import '/wp-content/plugins/cool-timeline/css/ctdp.css';
@import '/wp-content/plugins/cool-timeline/css/ctl_styles.min.css';

@font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis-light-webfont.woff2') format('woff2'),
         url('fonts/dosis-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-L.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-B.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


#wpadminbar {
  display: none;
}

/*body {
    font-family: "Dosis", "Trebuchet MS","Helvetica","Jamrul",sans-serif !important;
}
*/
ul, p, h1, h2, h3, h4, h5, h6, #nav.wt_nav_top .navbar-nav > li > a, .wt_counter_sc .stat-count, .wt_counter_sc .wt_stat_detail, .wt_testimonial_content, .wt_google_font, .wt_pricing_content, .wt_pricing_btn .btn, .wt_heading_more .btn, .copyright, .wpb_accordion_header a, .wt_portfolioCategory, .wt_feature1, .wt_feature2, .wt_feature3, .wt_feature4, .wt_feature5, .wt_testimonials_slider_sc,
.wt_blog_grid_sc .entry_comments a, .wt_blog_grid_sc, ol {
  font-family: 'Dosis', sans-serif;
}
#entenda_melhor_accordion h4 {
    margin-bottom: 0;
}
li {
    margin-bottom: 10px;
}

ol {
    list-style-position: inside;
    margin-left: 0;
}

a, a:visited {
  color: #111111;
	text-decoration: underline;
}

.intro_text h2 {
  margin: 10% 0;
  color: white;
  text-transform: lowercase;
  text-align: left;
  font-size: 40pt;
  font-weight: 300;
}

.intro_text {
  margin: 0px;
}

.container p, li{
  color: #313131;
  text-align: left;
  font-size:18pt;
  font-weight: 400;
  line-height: 27pt;

}

.row {
    margin-bottom: 30px;
    margin-top: -30px;
}

#wt_home_content .row {
    margin-top: 20px;
}

.wt_separator_title {
    display: none;
}

.saiba-mais {
    color: #555;
    font-weight: 300;
    text-decoration: unset;
    border: 1px solid;
    padding: 11px;
    background: rgba(245,245,244,0.3);
    display: block;
    width: 240px;
    text-align: center;
    margin: 0 auto;
}

/* initial page */

#wt_home_content #next-page {
    height: 0px;
}
/*****************/

#depoimentos h2  {
    color: #313131;
}

#quem-somos p {
    color: #fff;
}

/* Slider */
.bx_viewport {
  height: 355px;
}

.wt_testimonials_slider_sc {
	background: rgba(0,0,0,0);
}

.wt_testimonials_slider_sc .wt_testimonials_info {
    padding: 10px 20px 0px;
    margin: 20px auto;
}

.wt_testimonials_slider_sc .wt_bxslider li p{
	/*color: white;*/
	padding: 5px;
}

.wt_testimonials_slider_sc .wt_bxslider li img{
  height: 150px;
  width: 150px;
}

.wt_testimonials_slider_sc .wt_testimonials_text {
    padding: 25px 0 25px 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  color: black;
}

.bx-wrapper .bx-controls-direction {
  position: initial;
}

/* ************** */

/******* acordião *******/
.vc_tta-panel-heading, .vc_tta-panel-body {
    background: rgba(0,0,0,0.1) !important;
    border: 0px !important;
}

.vc_tta-container p, .vc_tta-container a, .vc_tta-container li {
  color: white;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a {
    color: whitesmoke;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::after, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::before {
    border-color: white !important;
}

.vc_tta-title-text {
  color: white;
  font-weight: 700;
}

.vc_tta-container {
    padding-bottom: 100px;
}
/* ************** */

/* assine */
#dk-speakout-petition-1 .dk-speakout-readme{
display: none !important;
}

#dk-speakout-petition-1 {
  /*padding-top: 1.8em; */
}

a.dk-speakout-facebook, a.dk-speakout-twitter{
  width: 80px !important;
}

.dk-speakout-full {
    margin-left: 17px;
}

.dk-speakout-petition .dk-speakout-half {
    width: 49% !important;
}

select#dk-speakout-state-1{
  background: white;
  height: 45px;
}

/* ************** */

.wt_section_area {
    min-height: 100vh;
}

#entenda-melhor.wt_section_area{
    height: 100%;
    min-height: 98vh;
}


#next-page {
    position: absolute;
    margin: 0px 25vw;
    width: 50vw;
    bottom: 0px;
    height: 58px;
}

#depoimentos .vc_icon_element-icon.fa.fa-chevron-down {
    color: #ccc;
}

#wt_headerWrapper{
display: none;
}

/*** desktop settings ***/
@media (min-width: 751px) {
  .mobile {
      display: none !important;
    }

  .aligncentermobile .responsive #wt_home_content h1 {
    text-align: left !important;
    font-size:
  }
  #wt_section_home {
    padding: 0px !important;
  }
  #wt_home_content {
    padding: 0;
    /* position: absolute;
    bottom: 10vh;
    height: 40vh; */
  }
  #botao_assine {
    display: none;
  }
  #assine{
    /* height: 0px;
    min-height: 0px; */
  }
  .container {
    /*width: calc(100vw - 370px);*/
    /* margin-right: 0;
    margin-left: 2%; */
   }
   #wt_home_content .container {
       margin: 0px;
       width: 100%;
   }
   #wt_home_content .container .row {
       margin: 0px;
   }
   .responsive .wt_section_area {
    padding-left: 0 !important;
  }
  .vc_btn3-container{
    display: none;
  }
}

/*** mobile settings ***/
@media (max-width: 750px) {
  body.wt_image_bg {
    /* background-image: url("/wp-content/uploads/2016/11/tela-4-–-2.jpg"); */
    /* background-attachment: initial; */
    /* background-size:unset; */
  }
  .mobile {
    display: initial;
  }
  .aligncentermobile {
    text-align: center !important;
  }
  #next-page {
    display: none;
  }
  #wt_home_content {
    padding: 0;
    position: relative;
    bottom: unset;
    height: unset;
  }

  .botao_assine {
    display: block;
    text-align: center;
    background-color: #7d974f;
    font-family: Ubuntu;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #d6d5d3;
    font-size: 14pt;
    width: 70%;
    margin: 0px auto 20px;
    color: #fff;
    text-decoration: none;
  }

  #assine.wt_section_area {
    min-height: initial;
    background-image: url("/wp-content/uploads/2016/11/tela-7-–-2.jpg");
    padding: 30px 0px !important;
  }

  #wt_home_content .wpb_wrapper {
    margin: 0px;
    padding: 0px;
  }
  .responsive .wt_section_area {
    padding: 0px 0px !important;
  }
  .container {
    padding: 0px;
    margin: 0px;
  }
  #wt_home_content h1 {
    margin-bottom: 0px;
  }
  .row {
    margin: 0 5px;
  }

  #wt_home_content .wt-row-container{
    padding: 0px !important;
  }
  #dk-speakout-petition-1 {
      margin: 0 auto;
      width: 80%;
  }
  .dk-speakout-petition input[type="text"] {
      border: 1px solid #b3b3b3 !important;
  }
  .dk-speakout-petition-wrap {
      background-color: transparent !important;
      border: 0px !important;
      box-shadow: none !important;
  }
  .responsive .intro_text {
    padding-left: unset;
    padding-right: unset;
  }
  .intro_text {
    margin: unset;
    width: unset;
    max-width: unset;
    text-align: left;
    padding-top: 10px;
  }
  .intro_text h2 {
    font-weight: 700;
    font-size: 36px;
    max-width: unset;
    text-align: left;
  }
}


@media (max-width: 320px){
.responsive #wt_home_content h1 {
    font-size: 38px;
  }
}

@media (max-width: 400px){
.responsive #wt_home_content h1 {
    font-size: 30px;
  }
}


.advps-excerpt-three {
    max-width: 100% !important;
}


.logo img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 10px;
    float: left;
}

@media (min-width: 768px) {
  .container {
    /* width: unset; */
  }
}

/*** big desktop settings ***/
@media (min-width: 1430px) {
  .logo img {
    height: 200px;
    width: 200px;
  }

  #wt_home_content h1 {
    font-size: 60pt;
  }
  .container p, li {
      font-size: 27pt !important;
      line-height: normal !important;
    }
  #dk-speakout-petition-1 {
      height: 370px;
      width: 400px;
  }
  #dk-speakout-petition-1 .dk-speakout-petition input[type="text"] {
      /* height: 2.2em !important;
      margin-bottom: 1em;
      font-size: 17pt !important; */
  }
  .dk-speakout-petition {
    /* padding-top: 1.5em; */
  }
  .container {
    /* width: calc(100vw - 490px); */
  }
  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left {
    font-size: 24pt;
  }
  p, li {
    font-weight: 300 !important;
  }
}

img.wt_testimonial_image {
    max-width: unset !important;
}

.bx-wrapper img {
    max-width: unset !important;
}

.vc_icon_element-link {
  z-index: 100;
}


.cool-timeline-horizontal .content-details p {
    font-size: 14pt !important;
    line-height: 18pt !important;
}

.row ul{
  margin-left: 25px;
}
